@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply scroll-smooth overflow-x-hidden;
}
.con {
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}
* {
  transition: 100ms;
}
*::selection {
  @apply bg-primary-100  text-white;
}

/*////////////////////////////////////////////////////////////////////////////////*/
.rtl {
  direction: rtl;
}
.fixed {
  position: fixed;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.productToast > div {
  @apply rtl shadow-xl;
}
.productToast .items-start {
  @apply gap-2;
}
// .productToast .items-start div {
//   @apply !mx-0;
// }
.backToast > div {
  @apply rtl shadow-xl;
}
.backToast .items-start {
  @apply gap-2;
}
// .backToast .items-start div {
//   @apply !mx-0;
// }
.z-40 {
  @apply z-[10001];
}
.max-w-sm {
  max-width: 28rem !important;
}
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #643a60; */
  @apply bg-secondary-20;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-secondary-100;
  border-radius: 5px;
  transition: 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #52014a; */
  @apply bg-primary-100;
}
.box {
  @apply w-full px-6 py-10 bg-white rounded-lg shadow-lg mb-6;
}
.header {
  @apply flex items-center gap-3 text-xl lg:text-2xl font-bold mb-4;
}
.header::before {
  content: "";
  @apply w-3 h-3 bg-primary-100  rounded-full block;
}
button {
  /* transition: box-shadow 1s; */
  @apply duration-300;
}
button:hover {
  box-shadow: inset 0 -8px 10px 0 #0e092750;
  @apply translate-y-[0.5px];
}
button.button-white:hover {
  box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.1); /* سایه داخلی ملایم‌تر */
}
.add .textarea {
  @apply outline-0 border-[3px] border-solid border-gray-100  w-full min-h-[60px]
  focus:border-secondary-100;
}
.toast {
  z-index: 200000;
}
* {
  transition: all 0.5s;
}
.input-div {
  @apply relative flex flex-wrap md:flex-nowrap items-center gap-3 w-full px-4;

  label {
    @apply text-primary-100 text-lg text-right whitespace-nowrap font-semibold w-4/12;
  }

  >div {
    @apply w-full;
  }

  .vpd-input-group {
    @apply outline-0 overflow-x-hidden border-2 border-solid border-gray-100 rounded-lg w-full focus:border-secondary-100;
    input {
      @apply px-4 py-2;
    }
  }

  .vpd-container {
    width: auto !important;
  }

  input,
  textarea,
  .input {
    @apply outline-0 px-4 py-2 border-2 border-solid border-gray-100 rounded-lg w-full focus:border-secondary-100;

    &:read-only,
    &.read-only {
      @apply bg-gray-100 border-primary-10;
    }
  }

  a.input {
    @apply cursor-pointer text-primary-100 font-bold text-center border-b !border-primary-100 block;
  }

  &.box-1 {
    @apply mb-4;

    input,
    .input {
      @apply border-[3px];
    }
  }
}

.tiptap.ProseMirror {
  max-height: 70vh;
  overflow: auto;
}

.tiptap.ProseMirror {
  max-height: 70vh;
  overflow: auto;
}
.pdp-group {
  @apply items-stretch;
  .pdp-icon.pdp-pointer {
    @apply w-auto flex items-center justify-center rounded-r-lg;
    max-height: none !important;
  }
  input:last-of-type {
    @apply rounded-l-lg !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
.pdp-column,
.pdp-picker.rtl {
  width: auto !important;
}
.box { @apply bg-white rounded-2xl p-4 shadow-sm border border-gray-100; }
.rtl { direction: rtl; }
.muted { @apply text-gray-500; }
